.makeStyles-toolbar-8 {
  background-color: rgb(244, 67, 54);
}

/* Formiiiiik */

input.error {
  border-color: red !important;
}

.input-feedback {
  color: red !important;
  margin-top: 0.25rem;
}

.center-content {
  margin: 0 auto !important;
}

@media (min-width: 640px) {
  button + button {
    margin-left: 5px !important;
  }
}

/* Error message */

.error--message {
  /* background-color: rgba(207, 77, 68, 0.5); */
  color: #000 !important;
  background-color: #ffdddd !important;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(207, 77, 68, 0.5);
}
