/* For toolbar on mobile devices */
.makeStyles-toolbar-8 {
  background-color: rgb(244, 67, 54);
}

/* Formiiiiik */

input.error {
  border-color: red !important;
}

.input-feedback {
  color: red !important;
  margin: 0.25rem 0 0 0.25rem;
}

/* Here ends Formik styles */

/* Error message when getting data fails*/

.error--message {
  /* background-color: rgba(207, 77, 68, 0.5); */
  color: #000 !important;
  background-color: #ffdddd !important;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(207, 77, 68, 0.5);
}

/* Here ends Error Message */

/* For buttons within Modal */
@media (min-width: 640px) {
  button + button {
    margin-left: 5px !important;
  }
}

.text-center {
  text-align: center !important;
}

.center-content {
  margin: 0 auto !important;
}

/* For Forms */
.form-control {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}
/* 
.form--input {
  margin-top: 20px;
  min-width: 120px;
} */

.button--submit {
  margin: 24px 0 16px 0;
}

.login-container {
  margin-top: 64px;
  text-align: center;
}

/* . For Forms */
